@import "tailwindcss";

@theme {
  --font-sans: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --color-primary: #555ab9;
  --color-primary-hover: #4a4ea6;
}

@keyframes timeout-shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}
